.App-header {
  display: contents;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #282c34;
  position: relative;
}
.nav-link{
color: #f8f8f8;
text-decoration: none;
}



.menu-icon {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

.right-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:25px;
}

.right-navbar.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background: #282c34;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 10px 0;
}

.nav-link:hover {
  text-decoration: underline;
}
.menu-toggle{
  visibility:hidden;
}

.logo {
  height: 100px;
  top: 15px;
  position:absolute;
}
.about-us {
  background: #E4DDD8;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 4rem;
  padding-inline: 10rem;
}
.about-us img {
  height: 13rem;
  /* padding-top: 145px; */
  margin: auto;
  padding-left: 35px;
}
.about-us h2 {
  color: #e65100;
  text-align: center;
  font-family: Georgia, serif;
}

.about-us p {
  color: #333;
  text-align: center;
  
}
.contact-us {
  background: #E4DDD8;
  padding: 20px;
  margin-block: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-us h2 {
  color: #e65100;
}

.contact-us p {
  color: #333;
}

.what-we-do {
  background: #E4DDD8;
  padding: 20px;
  margin-block: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 4rem;
  flex-direction: row-reverse;
  padding-inline: 10rem;
}

.what-we-do img{
  height: 13rem;
  margin: auto;
  padding-left: 35px;
}
.what-we-do h2 {
  color: #e65100;
  text-align: center;
}

.what-we-do p {
  color: #333;
  text-align: center;
}

.how-does {
  background: #E4DDD8;
  padding: 20px;
  margin-block: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 4rem;
  padding-inline: 10rem;
}

.how-does img{
  height: 13rem;
margin: auto;
  padding-left: 35px;
}

.how-does h2 {
  color: #e65100;
  text-align: center;
}
.how-does p {
  color: #333;
  text-align: center;
}
.why-us {
  background: #E4DDD8;
  padding: 20px;
  margin-block: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 4rem;
  flex-direction: row-reverse;
  padding-inline: 10rem;
}

.why-do-us-img{
  height: 13rem;
margin: auto;
  padding-left: 35px;
}
.why-us h2 {
  color: #e65100;
  text-align: center;
}
.why-us p {
  color: #333;
  text-align: center;
}
.data-protection {
  background: #E4DDD8;
  padding: 20px;
  margin-block: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 4rem;
  padding-inline: 10rem;
}

.data-protection img{
  height: 13rem;
  padding-left: 35px;
  margin: auto;
}

.data-protection h2 {
  color: #e65100;
  text-align: center;
}
.data-protection p {
  color: #333;
  text-align: center;
}
.next-step {
  background: #E4DDD8;
  padding: 20px;
  margin-block: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 4rem;
  flex-direction: row-reverse;
  padding-inline: 10rem;
}

.next-step img{
  height: 13rem;
  padding-left: 35px;
  margin: auto;
}

.next-step h2 {
  color: #e65100;
  text-align: center;
}
.next-step p {
  color: #333;
  text-align: center;
}

.our-team{
  background: #E4DDD8;
  padding: 20px;
  margin-block: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding-inline: 10rem;
}

.our-team h2 {
  color: #e65100;
  text-align: center;
}
.our-team p {
  color: #333;
  text-align: center;
}

.team-img{
  width: 100%;
  height: auto;
  box-shadow: 1px 2px white;
}

@media (max-width: 768px) {
  .right-navbar {
    display: none;
  }
  .menu-toggle{
    visibility:visible;
  }
  .right-navbar.active {
    display: flex;
  }
  .about-us {
    background: #E4DDD8;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
}
.about-us img {
  height: 13rem;
  margin: auto;
  padding-left: 75px;
}
.what-we-do {
  background: #E4DDD8;
  padding: 20px;
  margin-block: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
  gap: 4rem;
}
.what-we-do img {
  height: 13rem;
  margin: auto;
  padding-left: 75px;
}
.how-does {
  background: #E4DDD8;
  padding: 20px;
  margin-block: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
  gap: 4rem;
}
.how-does img {
  height: 13rem;
  margin: auto;
  padding-left: 75px;
}
.why-us {
  background: #E4DDD8;
  padding: 20px;
  margin-block: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
  gap: 4rem;
  flex-direction: row-reverse;
}
.why-do-us-img {
  height: 13rem;
  margin: auto;
  padding-left: 75px;
}
.sectionImg{
  width: 100%;
  height: auto;
}
.data-protection {
  background: #E4DDD8;
  padding: 20px;
  margin-block: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
}
.data-protection img {
  height: 13rem;
  padding-left: 75px;
  margin: auto;
}
.next-step {
  background: #E4DDD8;
  padding: 20px;
  margin-block: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
}
.next-step img {
  height: 13rem;
  padding-left: 75px;
    margin: auto;
}
.our-team {
  background: #E4DDD8;
  padding: 20px;
  margin-block: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  gap: 4rem;
}
}
